[user]
        name = ash@s8080.com
        email = ash@s8080.com
[color]
        ui = true
[alias]
        ci = commit
        co = checkout
        br = branch
        st = status
        subup = submodule update
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[color "status"]
        added = white green bold
        changed = white red bold
        untracked = white cyan bold
[core]
        autocrlf = false
        whitespace = cr-at-eol
        editor = vim
[credential]
        helper = cache --timeout=3600
